In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/home/user/Desktop/review/results/eda/1216_1545/vocab.csv', index_col=None)
df.head()

   Unnamed: 0 word  char_count
0           0    0           1
1           1  0,5           3
2           2  0,8           3
3           3   00           2
4           4   01           2

In [4]:


a = ['ab', 'd','c','ab','a']

import numpy as np
aa = np.unique(a)
print(aa)
word_char_count = [len(word) for word in aa]
print(word_char_count)

['a' 'ab' 'c' 'd']
[1, 2, 1, 1]

In [3]:
#convert a to list
import ast
a1 = ast.literal_eval(a)
print(type(a1))
print(a1)

<class 'list'>
['ab', 'd']

In [6]:
a2 = ['a1', 'a2', 'a3']
# ab = []
# ab.append(a2)
# ab.append(a)
ab = a1 + a2
print(ab)

['ab', 'd', 'a1', 'a2', 'a3']